<!DOCTYPE html>
<html>
  <head>
    <!-- loads jquery from google -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <!-- loads jquery locally if you're working offilne -->
    <script src="/js/jquery.js"></script>

    <!--  begin TWITTER bootstrap -->
    <script src="/twitter_bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/twitter_bootstrap/css/bootstrap.min.css"/>
    <!-- end bootstrap -->

    <link rel="stylesheet" type="text/css" href="/css/common.scss"/>
    <link rel="stylesheet" type="text/css" href="/css/<%= template %>.scss"/>

    <script src="/js/common.coffee"></script>
    <script src="/js/<%= template %>.coffee"></script>
    <%= script_tags %>
    <!-- Google analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-460926-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- END Google analytics -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="auther" content="Noam Szpiro">
  <meta name="description"
      content="Share sensitive information securely with colleagues and friends">
  </head>
  <body data-twttr-rendered="true">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">AliceToBob</a>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li><a data-toggle="modal" href="#signupModal">keep in touch</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container main">
      <%= erb template, :locals => locals %>
    </div>
    <div class="container footer">
      <div class="row">
        <div class="createdBy span2 offset4">
          Created By:
          <a href="http://www.twitter.com/hellonoam">Noam</a> & Snir
        </div>
        <div class="span1"><a href="mailto:hellonoam@gmail.com,skodesh@gmail.com">Contact</a></div>
        <div class="span1 feedbackLink">
          <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEJzWFhDMXhRdGtFeE1TOExoTXZtR1E6MQ#gid=0">
            Feedback
          </a>
        </div>
      </div>
    </div>

    <!-- signup modal dialog, hidden until signup is clicked -->
    <div class="modal hide" id="signupModal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Keep in touch</h3>
      </div>
      <div class="modal-body">
        <p>We have a lot of features in the pipeline, signup and we'll
          let you know when the features are out. We'll never spam you, promise</p>
        <div class="row">
            <h3 class="span2 offset1">your email:</h3>
            <input class="span2" autofocus type="email">
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" id="signup" class="btn btn-primary" value="Signup">
      </div>
    </div>
  </body>
</html>
