<div class="row">
  <div class="span2 ready"><p>Your pad is ready...</p></div>
  <div class="span6 offset1">
    <div class="row">
      <div>
        <input type="file" id="filesButton" multiple>
        <input type="button" id="filesButtonOverlay" class="btn btn-info" value="Add Files to Pad">
        <input type="button" id="securityButton"class="btn btn-info disabled" value="More Securiry Options">
      </div>
      <textarea autofocus placeholder="your secret message" class="input-xlarge"></textarea>
      <div>
        <input type="button" id="submitPad" class="btn btn-warning" value="submit">
      </div>
    </div>
  </div>
  <div class="span3 points">
    <div class="row">
      <ul>
        <li><p>we'll ask you for a password after you hit submit</p></li>
        <li><p>the pad will self-destruct 7 days from now</p></li>
        <li><p>you'll get a link to share when you're done</p></li>
      </ul>
    </div>
  </div>
</div>

<!-- modal dialog for password, only shown after click -->
<div class="modal hide" id="passwordModal">
  <div class="modal-body">
    <a class="close" data-dismiss="modal">×</a>
    <div class="row">
      <h3 class="span3">Choose your password</h3>
      <!-- TODO: consider adding note that your colleague will have to know this password -->
      <input autofocus class="span2" type="password" id="password">
      <input type="button" class="btn btn-warning" id="passwordDone" value="Done">
    </div>
  </div>
</div>