<div class="row">
  <div class="span2 status">
    <p>Your pad is ready...</p>
    <h4></h4>
    <div class="progress progress-striped active hide">
      <div class="bar" style="width: 0%;"></div>
    </div>
  </div>
  <div class="span6 offset1">
    <div class="row">
      <div>
        <input type="file" id="filesButton" multiple>
        <input type="button" id="filesButtonOverlay" class="btn btn-info" value="Add Files to Pad">
        <input type="button" id="securityButton"class="btn btn-info" value="More Securiry Options">
      </div>
    </div>
    <div class="row">
      <div class="securityOptions hide">
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group">
              <label class="control-label">Encryption method:</label>
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" name="noEncryption"> Do not encrypt
                </label>
                <label class="radio">
                  <input type="radio" name="encryptMethod" value="serverSide" checked> Server-Side
                </label>
                <label class="radio">
                  <input type="radio" name="encryptMethod" value="clientSide"> Client-Side
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Destruction option:</label>
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" name="neverDestroy"> Never destroy pad
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="allowReaderDestroy"> Allow reader to destroy pad
                </label>
                <label class="select">
                  Destroy after
                  <select name="destroyAfterDays" class="days">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option selected>7</option>
                  </select>
                  days
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked name="destroyAfterMultipleFailed">
                  Destroy after multiple failed attempts to authenticate
                </label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="fileslinks"></div>
    </div>
    <div class="row">
      <div class="overSizeLimitMessage oversize alert alert-error hide">
        <a href="#" class="close">×</a>
        You chose a file over the 20MB limit, it will not upload.
      </div>
    </div>
    <div class="row">
      <div class="overCountLimitMessage oversize alert alert-error hide">
        <a href="#" class="close">×</a>
        You can only upload up to 4 files.
      </div>
    </div>
    <div class="row">
      <textarea autofocus placeholder="your secret message" class="input-xlarge"></textarea>
    </div>
    <div class="row">
      <input type="button" id="submitPad" class="btn btn-warning" value="submit">
    </div>
  </div>
  <div class="span3 points">
    <div class="row">
      <ul>
        <li><p>we'll ask you for a password after you hit submit</p></li>
        <li><p>the pad will self-destruct 7 days from now</p></li>
        <li><p>you'll get a link to share when you're done</p></li>
      </ul>
    </div>
  </div>
</div>

<!-- modal dialog for password, only shown after click -->
<div class="modal hide" id="passwordModal">
  <div class="modal-body">
    <a class="close" data-dismiss="modal">×</a>
    <div class="row">
      <h3 class="span3">Choose your password</h3>
      <!-- TODO: consider adding note that your colleague will have to know this password -->
      <input autofocus class="span2" type="password" id="password">
      <input type="button" class="btn btn-warning" id="passwordDone" value="Done">
    </div>
  </div>
</div>