<div class="row">
  <div class="span6 offset1">
    <h2>Share sensitive information securely with colleagues and friends.</h2>
  </div>
  <div class="span5 instructions">
    <div class="row">
      <div class="span5">
        <h4>Three easy steps:</h4>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <span class="badge badge-error">1</span> Create a pad and enter the text you'd like to share.
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <span class="badge badge-info">2</span> Choose a password and share the link with your colleague.
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <span class="badge badge-success">3</span>
         Your colleague types the password and views the text.
      </div>
    </div>
  </div>
</div>
<div class="row create">
  <div class="span3 offset2">More options coming soon</div>
  <a href="/create" class="span1.5 btn btn-warning">Create Pad</a>
</div>
<div class="row details">
  <div class="span3 offset1">
    <i class="icon-lock"></i>
    <h3>Secure</h3>
    <p>The text you type is encrypted using the password of your choice.</p>
  </div>
  <div class="span3">
    <i class="icon-user"></i>
    <h3>Share</h3>
    <p>You get a link to share the pad with colleagues and friends.</p>
  </div>
  <div class="span3">
    <i class="icon-trash"></i>
    <h3>Self-Destructs</h3>
    <p>The pad is automatically destroyed after 7 days.</p>
  </div>
</div>
<div class="row opinions">
  <div class="span3">
    <img src="/images/person3.png">
    <blockquote>
      <p>"Now secrets are still secrets"</p>
      <small>Rozelle Kane</small>
    </blockquote>
  </div>
  <div class="span3">
    <img src="/images/person1.png">
    <blockquote>
      <p>"it's amazingly secure"</p>
      <small>Noam Szpiro</small>
    </blockquote>
  </div>
  <div class="span3">
    <img src="/images/person2.png">
    <blockquote>
      <p>"Finally something I can use"</p>
      <small>Sebastian Eide</small>
    </blockquote>
  </div>
  <div class="span3">
    <img src="/images/person3.png">
    <blockquote>
      <p>"Now I can keep my affair secret"</p>
      <small>Masha Tasha</small>
    </blockquote>
  </div>
</div>