<div class="row">
  <p class="span4 offset3">Thanks for using CryptoPad</p>
</div>
<div class="row">
  <p class="span2 offset1">Here is your link: </p>
  <p class="span8"><a href="<%= pad_link%>"><%= pad_link %></a></p>
  <!-- <%= clippy(pad_link) %> -->
</div>