<div class="row">
  <p class="span3 offset4">Thanks for using CryptoPad</p>
</div>
<div class="row">
  <p class="span2 offset2">Here is your link: </p>
  <p class="span8"><a href="http://<%= pad_link%>"><%= pad_link %></a></p>
</div>