<div class="row">
  <div class="span2"><p>The pad is here...</p></div>
  <div class="span6 offset1">
    <div class="row">
      <textarea class="input-xlarge" readonly></textarea>
    </div>
  </div>
  <div class="span3">
    <div class="row fileslinks"></div>
  </div>
</div>

<!-- modal dialog for password shown on load -->
<div class="modal hide" data-noPassword="<%= no_password %>" id="passwordModal">
  <div class="modal-body">
    <div class="row">
      <h3 class="span2 offset1">Enter password</h3>
      <input autofocus class="span2" type="password" id="password">
      <input type="button" class="btn btn-warning" id="passwordDone" value="Done">
    </div>
  </div>
</div>