body {
  background-image: url("/images/chruch.png");
}

.main {
  padding-top: 90px;
}

.footer {
  border-top: 1px solid #CCC;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  bottom: -30px;
  .feedbackLink {
    margin-left: 6px;
  }
}

.fileslinks a {
  margin-left: 40px;
}

.error {
  border-color: #b94a48;
}

.modal-backdrop {
  opacity: 0.4;
}

#signupModal .modal-body .row {
  margin-top: 20px;
}
/* a little more room for created by*/
.footer .createdBy {
  width: 150px;
}

.nolink:hover {
  cursor: text;
}
