body {
  background-image: url("/images/chruch.png");
}

.main {
  padding-top: 110px;
}

.footer {
  border-top: 1px solid #CCC;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  bottom: -30px;
}

.fileslinks a {
  margin-left: 40px;
}

.error {
  border-color: red;
}

.modal-backdrop {
  opacity: 0.4;
}

#signupModal .modal-body .row {
  margin-top: 20px;
}