.main {
  /* kind of a hacky way to set the file icon to display hover*/
  .fileWrapper:hover #filesButtonOverlay{
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    background-color: #2f96b4;
  }

  .fileWrapper {
    display: inline;

    #filesButton {
      opacity: 0;
      z-index: 1000;
      position: absolute;
      width: 119px;
      cursor: pointer;
    }
  }
  .securityOptions {
    margin-top: 20px;
    margin-right: 20px;
    .days {
      width: 40px;
    }
  }
  .fileslinks {
    .close {
      float: left;
      line-height: 13px;
    }
    .filelink {
      margin-left: 10px;
    }
  }
  .oversize {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  textarea {
    width: 450px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .status h4 {
    margin: 10px auto;
    width: 30px;
  }
  .points, .status {
    margin-top: 40px;
  }
  p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
  }
  #passwordModal {
    #passwordDone {
      margin-left: 30px;
      margin-top: -9px;
    }
  }
}