.main {

  > .row {
    padding-top: 30px;
  }

  .instructions > .row {
    padding-bottom: 20px;
  }

  .create {
    padding-bottom: 30px;
  }

  .opinions {
    margin-top: 50px;
    background-color: white;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
    > div > img {
      float: left;
      margin-right: 15px;
      border: 1px solid #CCC;
      border-radius: 5px;
    }
  }

  .details > div {
    > i, > img {
      float: left;
      margin: 20px 20px 20px 0;
    }

    > h3 {
      text-shadow: 0px 1px 1px #CCC;
    }

    > h3, > p {
      margin-left: 50px;
    }
  }
}

/* overrides the border left set by twitter bootstrap */
blockquote {
  border-left: 0px !important;
}